<script type="text/javascript">
    function getJobDescription() {
        //Resetting fields
        var jobDescriptionElem = document.getElementById("job-description");
        var targetJobTitleElem = document.getElementById("target-job-title");
        var targetCompanyElem = document.getElementById("target-company");
        var targetJobSkillsElem = document.getElementById("job-skills");
        var targetJobKeysElem = document.getElementById("job-keys");
        var jobDetailsBlockElem = document.getElementById("job-details");
        var fetchLabelElem = document.getElementById("fetching");

        jobDetailsBlockElem.classList.remove("showFields");
        jobDetailsBlockElem.classList.add("hideFields");
        fetchLabelElem.style.display = "block";
        
        var url = "/api/api/getjobdescription";
        var JDLinkURL = document.getElementById("job-link").value;
        callAjax(url + "?url=" + encodeURIComponent(JDLinkURL), "GET", true, true, (resp) => {
            //Setting response
            resp = JSON.parse(resp);
            jobDescriptionElem.innerText = resp.jobDescription;
            targetJobTitleElem.innerText = resp.targetJobTitle;
            targetCompanyElem.innerText = resp.targetCompany;
            targetJobSkillsElem.innerText = resp.jobSkills;
            targetJobKeysElem.innerText = resp.jobKeys;

            jobDetailsBlockElem.classList.remove("hideFields");
            jobDetailsBlockElem.classList.add("showFields");
            fetchLabelElem.style.display = "none";
        })
    }
</script>
<style>
    .textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #ccc;
        max-width: 1500px;
        display: block;
    }
    .button {
        display: block;
        font-size: 15px;
        padding: 5px;
        margin-top: 10px;
        background: orange;
        border: none;
        color: #fff;
        width: 150px;
        height: 40px;
        margin-bottom: 10px;
    }
    .dynamic-field {
        border: 1px solid #ccc;
        padding: 2px;
        margin-bottom: 15px;
        min-height: 25px;
    }
    .hideFields label, .hideFields div{
        display: none;
    }
    .showFields label, .showFields div {
        display: block;
    }
    #job-details label{
        margin-top: 15px;
    }
    #job-description{
        max-height: 200px;
        overflow: auto;
    }
</style>
<div class="input" style="margin-top: 30px">
    <label>Job Link URL</label>
    <textarea class="textarea" type="text" id="job-link"></textarea>
    <input class="button" type="button" onclick="getJobDescription()" value="Continue" />
</div>
<label id="fetching" style="display:none">Fetching Details...</label>
<div id="job-details" class="hideFields">
    <label>Target Job Title</label>
    <div id="target-job-title" class="dynamic-field">

    </div>
    <label>Target Company</label>
    <div id="target-company" class="dynamic-field">

    </div>
    <label>Job Description</label>
    <div id="job-description" class="dynamic-field">

    </div>
    <label>Parsed Job Skills</label>
    <div id="job-skills" class="dynamic-field">

    </div>
    <label>Parsed Job Keys</label>
    <div id="job-keys" class="dynamic-field">

    </div>
</div>

